body{
  width: 414px;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
  #content{
    text-align: center;
    div:nth-child(1){
      font-weight: bold;
      font-size: 50px;
    }
    div:nth-child(2){
      font-size: 30px;
      color: #8f8f8f;
    }
  }
}
